<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 p-4">
      <h5 class="mb-3">{{ usaha.nama }}</h5>
      <span>{{ usaha.slogan }}</span>
      <img src="{{ usaha.logo }}" class="img-fluid product-image">
    </div>
    <div class="col-md-4 p-4">
      <h5 class="mb-3">Informasi Usaha</h5>
      <span>{{ usaha.keterangan }}</span>

      <div class="border p-2 mt-3 mb-3">
        <span>Telepon : {{usaha.telp}}</span>
      </div>
    </div>
  </div>
  <h5 class="mb-3">Produk Usaha {{ usaha.nama }}</h5>
  <app-produk-cart></app-produk-cart>
  <app-komentar-form></app-komentar-form>
  <app-komentar></app-komentar>
</div>