<div class="container mt-4">
  <div class="row">
    <div class="col-3">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-profile-usaha-list" data-toggle="list" href="#list-profile-usaha"
          role="tab" aria-controls="list-profile-usaha-list">Profile Usaha</a>
        <a class="list-group-item list-group-item-action" id="list-produk-list" data-toggle="list" href="#list-produk"
          role="tab" aria-controls="produk">Produk</a>
        <a class="list-group-item list-group-item-action" id="list-penjualan-list" data-toggle="list" href="#list-penjualan"
          role="tab" aria-controls="penjualan">Penjualan</a>
        <a class="list-group-item list-group-item-action" id="list-rekening-list" data-toggle="list" href="#list-rekening"
          role="tab" aria-controls="rekening">Rekening</a>
        <a class="list-group-item list-group-item-action" id="list-kurir-list" data-toggle="list" href="#list-kurir"
          role="tab" aria-controls="kurir">Kurir</a>
        <a class="list-group-item list-group-item-action" id="list-ulasan-list" data-toggle="list" href="#list-ulasan"
          role="tab" aria-controls="ulasan">Ulasan</a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-profile-usaha" role="tabpanel" aria-labelledby="list-profile-usaha-list">
          <app-profilusaha></app-profilusaha>
        </div>
        <div class="tab-pane fade" id="list-produk" role="tabpanel" aria-labelledby="list-produk-list">
          <app-produkusaha></app-produkusaha>
        </div>
        <div class="tab-pane fade" id="list-penjualan" role="tabpanel" aria-labelledby="list-penjualan-list">
          <app-penjualanusaha></app-penjualanusaha>
        </div>
        <div class="tab-pane fade" id="list-rekening" role="tabpanel" aria-labelledby="list-rekening-list">
          <app-rekening></app-rekening>
        </div>
        <div class="tab-pane fade" id="list-kurir" role="tabpanel" aria-labelledby="list-kurir-list">
          <app-kurir></app-kurir>
        </div>
        <div class="tab-pane fade" id="list-ulasan" role="tabpanel" aria-labelledby="list-ulasan-list">
          <app-ulasanusaha></app-ulasanusaha>
        </div>
      </div>
    </div>
  </div>
</div>