<div class="card">
  <div class="card-body align-middle">
    <div class="float-left mr-5">
      <img src="assets/images/pengguna/joy.png" class="rounded img-thumbnail ml-3" width="120" alt="Profile pengguna">
    </div>
    <div class="float-left">
      <h4>
        {{ usaha.nama }}
      </h4>
      <p class="lead">
        {{ usaha.slogan }}
      </p>
      <h5> {{ usaha.telp }} </h5>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div>
      <h5 class="text-center">Keterangan Toko</h5>
      <p>{{ usaha.keterangan }}</p>
    </div>
  </div>
</div>