<div class="container">
  <div class="row mt-5">
    <div class="col-md-6">
      <h2 class="text-center">Lokasi Tujuan</h2>
      <form>
        <div class="form-group">
          <label for="provinsi">Provinsi</label>
          <select name="provinsi" id="provinsi" class="form-control">
            <option>Provinsi 1</option>
            <option>Provinsi 2</option>
            <option>Provinsi 3</option>
            <option>Provinsi 4</option>
          </select>
        </div>

        <div class="form-group">
          <label for="kabupaten">Kabupaten</label>
          <select name="kabupaten" id="kabupaten" class="form-control">
            <option>Kabupaten 1</option>
            <option>Kabupaten 2</option>
            <option>Kabupaten 3</option>
            <option>Kabupaten 4</option>
          </select>
        </div>

        <div class="form-group">
          <label for="kecamatan">Kecamatan</label>
          <select name="kecamatan" id="kecamatan" class="form-control">
            <option>Kecamatan 1</option>
            <option>Kecamatan 2</option>
            <option>Kecamatan 3</option>
            <option>Kecamatan 4</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">Pilih Kurir</h2>
      <div class="row">
        <div class="col-md-4">
          <img src="assets/images/kurir/JNE.png" class="img-fluid" />
          <a class="btn btn-primary btn-block" href="#" role="button">Pilih</a>
        </div>
        <div class="col-md-4">
          <img src="assets/images/kurir/JNE.png" class="img-fluid" />
          <a class="btn btn-primary btn-block" href="#" role="button">Pilih</a>
        </div>
        <div class="col-md-4">
          <img src="assets/images/kurir/JNE.png" class="img-fluid" />
          <a class="btn btn-primary btn-block" href="#" role="button">Pilih</a>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-success btn-block" href="#" role="button">Selesai</a>
    </div>
  </div>
</div>