<div class="mt-3 mb-3">
  <img src="assets/images/banner/banner.png" alt="banner" class="img-fluid">
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let produk of produks" class="col-md-3 d-flex align-items-stretch">
      <div class="card mb-4">
        <img class="card-img-top" src={{produk.foto}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title mb-1">{{produk.nama}}</h5>
          <p class="text-success">Rp. {{ produk.harga }}</p>
          <p class="card-text mt-2">{{ produk.keterangan }}</p>
        </div>
        <div class="card-footer">
          <a routerLink="/produk/{{produk.id}}" class="btn btn-block btn-primary">Tambah Ke Keranjang</a>
        </div>
      </div>
    </div>
  </div>
</div>