<div class="container my-5">
  <div class="row">
    <div class="col-md-12">

      <h3 class="mb-3">Daftar</h3>

      <form>
        <div class="form-group">
          <label for="nama">Nama Lengkap</label>
          <input type="text" class="form-control" id="nama" placeholder="Masukkan nama anda..">
        </div>
        <div class="form-group">
          <label for="fotoprofil">Foto Profil</label>
          <input type="file" class="form-control-file" id="fotoprofil">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Masukkan email...">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="username">Username</label>
            <input type="password" class="form-control" id="username" placeholder="Masukkan username...">
          </div>
          <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Masukkan password...">
          </div>
        </div>
        <div class="form-group">
          <label for="notelp">Nomor Telepon</label>
          <input type="text" class="form-control" id="notelp" placeholder="Masukkan nomor telepon...">
        </div>
        <div class="form-group">
          <label for="provinsi">Provinsi</label>
          <select class="form-control" name="provinsi" id="provinsi">
            <option>Pilih Provinsi</option>
            <option>Provinsi 1</option>
            <option>Provinsi 2</option>
            <option>Provinsi 3</option>
          </select>
        </div>

        <div class="form-group">
          <label for="kabupaten">Kabupaten</label>
          <select class="form-control" name="kabupaten" id="kabupaten">
            <option>Pilih Kabupaten</option>
            <option>Kabupaten 1</option>
            <option>Kabupaten 2</option>
            <option>Kabupaten 3</option>
          </select>
        </div>

        <div class="form-group">
          <label for="kecamatan">Kecamatan</label>
          <select class="form-control" name="kecamatan" id="kecamatan">
            <option>Pilih Kecamatan</option>
            <option>Kecamatan 1</option>
            <option>Kecamatan 2</option>
            <option>Kecamatan 3</option>
          </select>
        </div>

        <div class="form-group">
          <label for="alamat">Alamat</label>
          <textarea class="form-control" name="alamat" id="alamat" placeholder="Alamat" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-success float-right">Daftar</button>
      </form>
    </div>
  </div>
</div>