.card {
  border-color: rgba(0, 0, 0, 0);
  /* min-height: 450px; */
}

.card-footer {
  border-color: rgba(0, 0, 0, 0);
  /* display: none; */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.produkimage {
  height: 250px;
}

.produk {
  color: black;
}

.produk:hover {
  text-decoration: underline;
  color: #428bca;
  transition: 0.3s;
}
