a:hover {
  text-decoration: none;
}

* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.li-cat {
  list-style: none;
}

.input-group-btn button[type="button"]:hover {
  background-color: f9f9f9;
  border-color: #428bca;
  color: #428bca;
}

.fa-shopping-cart,
.fa-home {
  font-size: 1.9rem;
}
