<div class="mx-auto" style="height: 150px;">
  <br>
</div>
<div class="mx-auto" style="width: 400px;" >
        <div class="card text-center">
            <div class="card-body" >
              <h5 class="card-title">Login</h5>
              <div class="form-grup">
                <div class="col-md-30">
                  <input type="text" class="form-control" placeholder="username" >
                </div>
              </div>
              <br>
              <div class="form-grup" >
                <input type="password" class="form-control" placeholder="password">
              </div>
              <div class="checkbox text-left" style="line-height: 45px;">
                  <label>
                    <input name="remember" type="checkbox" value="Remember You"> Remember me
                  </label>
                </div>
              <button class="btn btn-success btn-md btn-block" >Login</button>
          </div>
      </div>
 </div>
 <div class="mx-auto" style="width: 400px;">
  <a href="" style="line-height: 45px;">Forgot Password ?</a>
 </div>