<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="holder.js/100x180/" alt="">
      <div class="card-body">
        <h4 class="card-title">JNE</h4>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="checkbox" id="checkbox1" value="checkedValue" />
            Gunakan Kurir
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="holder.js/100x180/" alt="">
      <div class="card-body">
        <h4 class="card-title">TIKI</h4>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="checkbox" id="checkbox1" value="checkedValue" />
            Gunakan Kurir
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="holder.js/100x180/" alt="">
      <div class="card-body">
        <h4 class="card-title">POS</h4>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="checkbox" id="checkbox1" value="checkedValue" />
            Gunakan Kurir
          </label>
        </div>
      </div>
    </div>
  </div>
</div>