<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">

      <h3 class="mb-3">Buat Usaha</h3>

      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="nama">Nama Usaha</label>
              <input type="text" name="nama" class="form-control" placeholder="Nama Usaha">
            </div>

            <div class="form-group">
              <label for="logo">Logo</label>
              <input type="file" class="form-control" name="logo" id="logo" aria-describedby="fileHelpId">
            </div>

            <div class="form-group">
              <label for="slogan">Slogan</label>
              <input type="text" name="slogan" class="form-control" placeholder="Slogan">
            </div>

            <div class="form-group">
              <label for="keterangan">Keterangan</label>
              <textarea class="form-control" name="keterangan" id="keterangan" placeholder="Keterangan" rows="3"></textarea>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="provinsi">Provinsi</label>
              <select class="form-control" name="provinsi" id="provinsi">
                <option>Pilih Provinsi</option>
                <option>Provinsi 1</option>
                <option>Provinsi 2</option>
                <option>Provinsi 3</option>
              </select>
            </div>

            <div class="form-group">
              <label for="kabupaten">Kabupaten</label>
              <select class="form-control" name="kabupaten" id="kabupaten">
                <option>Pilih Kabupaten</option>
                <option>Kabupaten 1</option>
                <option>Kabupaten 2</option>
                <option>Kabupaten 3</option>
              </select>
            </div>

            <div class="form-group">
              <label for="kecamatan">Kecamatan</label>
              <select class="form-control" name="kecamatan" id="kecamatan">
                <option>Pilih Kecamatan</option>
                <option>Kecamatan 1</option>
                <option>Kecamatan 2</option>
                <option>Kecamatan 3</option>
              </select>
            </div>

            <div class="form-group">
              <label for="alamat">Alamat</label>
              <textarea class="form-control" name="alamat" id="alamat" placeholder="Alamat" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-success float-right">Buat Usaha</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>